<div class="indexContent">
<h3 class="error">
<% if (message) { %>
    <%= message %>
<% } %>
</h3>
<table>
    <form method="post" action="/join">
        <tr>
            <td><h3>Join Room</h3></td>
            <td></td>
        </tr>
        <tr>
            <td>Room ID</td>
            <td><input type="text" name="room[id]" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Join" /></td>
        </tr>
    </form>
    <form method="post" action="/open">
        <tr>
            <td><h3>Open New Room</h3></td>
            <td></td>
        </tr>
        <tr>
            <td>Room ID</td>
            <td><input type="text" name="room[id]" /></td>
        </tr>
        <tr>
            <td>Room Name</td>
            <td><input type="text" name="room[name]" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Open" /></td>
        </tr>
    </form>
</table>
</div>
