<h1 class="roomName">
<%= roomName %>
</h1>
<div id="leftContent">
<div id="ytplayer">
You need Flash player 8+ and JavaScript enabled to view this video.
</div>
<h3 class="message">
</h3>
<h3 class="error">
</h3>
<table>
    <form onSubmit="return false;">
        <tr>
            <td>Next Video</td>
            <td></td>
        </tr>
        <tr>
            <td>youtube.com/watch?v=</td>
            <td><input type="text" id="nextVideoId" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Cue" onClick="cue();" /></td>
        </tr>
    </form>
    <form onSubmit="return false;">
        <tr>
            <td>Comment</td>
            <td><textarea id="comment"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Post" onClick="postComment();" /></td>
        </tr>
    </form>
</table>
</div>
<div id="rightContent">
<div class="comment">
<p></p>
</div>
<div id="timeline">
</div>
</div>

