* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    line-height: 1.2;
    color: #202020;
    font: 14px Helvetica, Arial, sans-serif;
    /*font-size: 0.9em;*/
    line-height: 1.5em;
    background: #f8f8ff;
    width: 100%;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

a:link {
    color: #202020;
}

a:visited {
    color: #00bfff;
}

a:hover {
    color: #00bfff;
}

a:active {
    color: #00bfff;
}

p {
    margin: 5px 0;
}

.message {
}

.error {
    color: #ff0000;
}

header {
    padding: 10px;
    height: 30px;
    background-color: #696969;
    color: #f5f5f5;
}

header a:visited {
    color: #f5f5f5;
}

footer {
    padding: 10px;
    height: 30px;
    background-color: #696969;
    color: #f5f5f5;
    clear: both;
}

footer a:visited {
    color: #f5f5f5;
}

#content {
    padding: 10px;
}

.roomName {
    padding-top: 10px;
    padding-bottom: 10px;
}

#leftContent {
    float: left;
    width: 440px;
}

#rightContent {
    margin-left: 450px;
    width: 400px;
    background-color: lime;
}
